.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
*.user
*.suo
*.db
*.opendb
*.ipch
*.aps
*.ncb
*.sdf
*.log
*.tlog
*.lastbuildstate

GeneratedFiles/
ui_*.h
moc_*.cpp
moc_*.h
qrc_*.cpp
*.qmake.stash
*.pro.user

*.exe
*.dll
*.lib
*.pdb
*.obj
*.ilk
*.exp
*.res

products.json

Thumbs.db
Desktop.ini
.DS_Store

*.bak
*.tmp
*.swp